/* Preloader */
.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Полупрозрачный фон */
    z-index: 1000;
    /* Убедитесь, что прелоудер находится поверх других элементов */
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6E9C9F;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Preloader */

/* slider animation */

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(20px);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.offer__title, .offer__text, .offer__photo {
    animation-duration: 0.5s;
    /* Продолжительность анимации */
    animation-fill-mode: forwards;
    /* Анимация остается в конечном состоянии */
}

.slide-out {
    animation-name: slideOut;
}

.slide-in {
    animation-name: slideIn;
}

/* slider animation */