.cart-page-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
}

.cart-page__hat {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 84px;
}

.cart-page__title {
    font-size: 55px;
    line-height: 1.1em;
}

.cart-page__bread-crumbs {
    display: flex;
    gap: 13px;
    font-size: 17px;
}

.cart-page__bread-crumbs-main {
    color: #000;
}

.cart-page__bread-crumbs-cart {
    color: #909090;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid transparent;
}

.cart-page__table-container {
    margin-top: 130px;
    margin-bottom: 72px;
}

.cart-page__table-header {
    width: 100%;
    text-align: left;
}

.cart-page__table-header th {
    padding-bottom: 26px;
    border-bottom: 1px solid #CCCCCC;
}


.cart-page__table-header-product {
    width: 475px;
}

.cart-page__table-header-price {
    width: 190px;
}

.cart-page__table-header-count {
    width: 285px;
}

.cart-page__table-header-count-total {
    width: 158px;
}

.cart-page__table-string {
    align-items: center;

}

.cart-page__table-string td {
    padding-top: 49px;
    vertical-align: middle;
}

.cart-page__one-item-in-the-cart-wrapper {
    display: flex;
    align-items: center;
    width: 475px;
}

.cart-page__close-button {
    margin: 0;
    padding: 0;
    margin-right: 45px;
}

.cart-page__close-button-img {
    width: 12px;
    height: 12px;
}

.cart-page__one-item-in-the-cart-img {
    width: 125px;
    height: 179px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/cart__one-item.jpg');
    margin-right: 36px;
}

.cart-page__one-item-in-the-cart-product-name {
    font-size: 17px;
    margin-right: 134px;
}

.cart-page__one-item-in-the-cart-price {
    font-size: 17px;
    margin-right: 151px;
}

.cart-page__table-string-quantity {}

.cart-page__one-item-in-the-cart-count-value {
    width: 100%;
    border: none;
    text-align: center;
    width: 47px;
    height: 28px;
    font-size: 20px;
    border: 1px solid #AFAFAF;
    padding: 8px 0px 11px 0px;
}

.cart-page__one-item-in-the-cart-total {
    font-size: 17px;
}

.cart-page__managment-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 88px;
}

.cart-page__coupon-input {
    color: #868686;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
    margin-top: 21px;
    margin-right: 16px;
    width: 255px;
}

.apply-a-coupon-button {
    display: inline-block;
    padding: 22px 50px;
    color: #6E9C9F;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.39em;
    border: 1px solid #6E9C9F;
    margin-right: 337px;
}

.apply-a-coupon-button:hover {
    background-color: #6E9C9F;
    color: #FFFFFF;
}

.refresh-cart-button {
    display: inline-block;
    padding: 22px 50px;
    color: #6E9C9F;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.39em;
    border: 1px solid #6E9C9F;
}

.refresh-cart-button:hover {
    background-color: #6E9C9F;
    color: #FFFFFF;
}

.cart-page__sub-total-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: start;
    margin-right: 0;
    margin-left: auto;
    width: 538px;
}

.cart-page__summary-wrapper {
    display: flex;
    align-items: start;
    gap: 20px;
}

.cart-page__summary-title,
.cart-page__summary-price {
    font-size: 17px;
}

.cart-page__the-final-price-wrapper {
    display: flex;
    gap: 15px;
}

.cart-page__the-final-price {
    display: inline-flex;
    padding: 16px 51px 17px 31px;
    align-items: center;
    gap: 69px;
    background: #F1EADC;
}

.cart-page__the-final-price-title,
.cart-page__the-final-price-total {
    font-size: 25px;
}

.place-an-order-button {
    display: inline-block;
    padding: 22px 50px;
    text-align: center;
    background-color: #6E9C9F;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.39em;
}

.place-an-order-button:hover {
    background: #509498;
}

@media screen and (max-width: 1199px) {
    .cart-page__the-final-price-wrapper {
        margin-bottom: 130px;
    }
}