.checkout__content {
    display: flex;
    flex-direction: column;
    gap: 214px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
}

.checkout__hat-wrapper {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.checkout__title {
    font-size: 55px;
    line-height: 1.1em;
}

.checkout__bread-crumbs {
    display: flex;
    gap: 13px;
}

.checkout__bread-crumbs-main {
    color: #000;
    font-size: 17px;
}

.checkout__bread-crumbs-checkout-order {
    color: #909090;
    font-size: 17px;
}

.checkout-main-content {
    display: flex;
    gap: 313px;
}

.checkout__forms-wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 81px;
    text-align: left;
    padding-bottom: 130px;
}

.checkout__form-section-title {
    font-size: 25px;
    margin-bottom: 47px;
}

.checkout__inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.checkout__form-section {
    display: flex;
    flex-direction: column;
}

.checkout__input-name,
.checkout__input-email,
.checkout__input-phone,
.checkout__input-country,
.checkout__input-city,
.checkout__input-street,
.checkout__input-house,
.checkout__input-apartment {
    padding-bottom: 16px;
    border-bottom: 1px solid #000000;
}

.checkout__input-comments {
    padding-bottom: 110px;
    border-bottom: 1px solid #000000;
}

.checkout__info-wraper {
    display: flex;
    flex-direction: column;
    gap: 145px;
}

.checkout__your-order {
    width: 284px;
    margin-bottom: 15px;
    /* Отступ снизу, если нужно */
}

.checkout__your-order-title {
    font-size: 25px;
    margin: 0 0 32px 18px;
}

.checkout__your-order-table {
    width: 100%;
    border-collapse: collapse;
}

.checkout__your-order-table td {
    font-size: 20px;
    padding: 15px 18px;
    /* Отступ для ячеек, чтобы текст не прилипал к границам */
    text-align: left;
    vertical-align: top;
    border: none;
    /* Удаляем границы ячеек */
}

.checkout__your-order-table .item-name {
    width: 214px;
    /* Ширина первого столбца */
}

.checkout__your-order-table .item-price {
    width: 70px;
    /* Ширина второго столбца */
}

.checkout__your-order-wrapper-total {
    background: #F1EADC;
    padding: 15px 18px;
    /* Отступы для итоговой строки */
}

.checkout__pay-var {
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: start;
    padding-left: 11px;
}

.checkout__pay-var-title {
    font-size: 25px;
}

.checkout__pay-var-option-check-box {
    width: 22px;
    height: 22px;
    margin: 1px 0;
    border: 1px solid #000;
    position: relative;
    /* Добавляем относительное позиционирование для базового элемента */
    background-color: transparent;
    /* Убираем фон, чтобы он был прозрачным */
}

.checkout__pay-var-option-check-box.active::after {
    content: '';
    /* Необходимо для создания псевдоэлемента */
    position: absolute;
    /* Абсолютное позиционирование относительно родительского элемента */
    top: 5px;
    /* Расстояние до верхней границы */
    left: 5px;
    /* Расстояние до левой границы */
    right: 5px;
    /* Расстояние до правой границы */
    bottom: 5px;
    /* Расстояние до нижней границы */
    background-color: #000;
    /* Цвет фона для псевдоэлемента */
}

.checkout__pay-var-option {
    display: flex;
    gap: 14px;
    align-items: center;
}

.checkout__pay-var-text {
    font-size: 17px;
}

.place-the-order {
    display: inline-block;
    padding: 22px 50px;
    background-color: #6E9C9F;
    color: white;
}

.place-the-order:hover {
    background-color: #509498;
}

@media screen and (max-width: 1199px) {
    .checkout__hat-wrapper {
        margin-top: 190px;
    }
}

@media screen and (max-width: 991px) {
    .checkout__hat-wrapper {
        margin-top: 95px;
    }

    .checkout-main-content {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .checkout-main-content {
        flex-direction: column;
        align-items: center;
    }

    .checkout__pay-var {
        margin-bottom: 130px;
    }
}