.wrapper-main {
    display: flex;
}

.wrapper-main__right {
    margin: 41px 0 60px auto;
}

.offer {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    margin-top: 186px;
    margin-bottom: 126px;
}

.offer__title.active {
    display: block;
}

.offer__title {
    display: none;
    width: 585px;
    color: #000;
    font-size: 55px;
    line-height: 1.1em;
    letter-spacing: 1.1px;
}

.offer__text.active {
    display: block;
}

.offer__text {
    display: none;
    width: 385px;
    margin-top: 45px;
    margin-bottom: 52px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.offer__buttons {
    margin-left: 90px;
    margin-bottom: 14px;
    display: flex;
    margin: auto 0;
}

.arrow-down-button-icon {
    width: 67px;
    height: 67px;
}

.button-open-shop {
    display: block;
    height: 68px;
    padding: 22px 50px;
    align-items: center;
    background-color: #6E9C9F;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.34px;
    line-height: 1.39em;
}

.button-open-shop:hover {
    background-color: #509498;
}

.offer__dots {
    display: flex;
    gap: 12px;
    margin-left: 271px;
}

.offer__dot {
    cursor: pointer;
    width: 30px;
    height: 4px;
    background: #D1D1D1;
}

.offer__dot.active {
    background: #000;
}

.offer__photo-wrapper {
    width: 410px;
    height: 646px;
    position: relative;
}

.offer__photo {
    width: 410px;
    height: 646px;
    background-size: cover;
    background-position: center;
    display: none;

}

.offer__photo.active {
    display: block;
}

.first-photo {
    background-image: url('../img/offer-main-photo.png');
}

.second-photo {
    background-image: url('../img/offer-main-photo-second.png');
}

.trird-photo {
    background-image: url('../img/offer-main-photo-third.png');
}

.offer__mini-photo-left {
    position: absolute;
    bottom: -60px;
    left: -130px;
    background-image: url('../img/mini-photo-left.png');
    width: 190px;
    height: 318px;
    background-size: cover;
    background-position: center;
}

.offer__mini-photo-right {
    position: absolute;
    top: 123px;
    right: -105px;
    background-image: url('../img/mini-photo-right.png');
    width: 197px;
    height: 197px;
    background-size: cover;
    background-position: center;
}

/* slider animation */

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(20px);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.offer__title, .offer__text, .offer__photo {
    animation-duration: 0.5s;
    /* Продолжительность анимации */
    animation-fill-mode: forwards;
    /* Анимация остается в конечном состоянии */
}

.slide-out {
    animation-name: slideOut;
}

.slide-in {
    animation-name: slideIn;
}

/* slider animation */