@import url(normalize.css);
@import url(header.css);
@import url(animation.css);
@import url(modal-window.css);

*, *::before, *::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, body, img, p, span {
    margin: 0;
    padding: 0;
}

/* Обнуление стилей для всех списков */
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Обнуление стилей для элементов списка */
li {
    text-decoration: none;
    /* Это для ссылок, если они есть внутри элементов списка */
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button::-moz-focus-inner {
    border: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.container_flex {
    display: flex;
}

