.one-item {
    padding-top: 110px;
    padding-bottom: 130px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
}

.one-item__title {
    font-size: 55px;
    line-height: 1.1em;
    letter-spacing: 1.1px;
    margin-bottom: 26px;
}

.one-item__bread-crumbs {
    display: flex;
    gap: 13px;
}

.one-item__bread-crumbs-text-tab {
    color: #000;
    font-size: 17px;
    letter-spacing: 0.34px;
}

.one-item__bread-crumbs-text-tab.active {
    color: #909090;
}

.one-item__main-content {
    margin-top: 102px;
    gap: 130px;
    display: flex;
    flex-direction: column;
}

.one-item__product-wrapper {
    display: flex;
    align-items: center;
    gap: 74px;
    padding-right: 150px;
}

.one-item__product-img {
    width: 536px;
    height: 729px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/one_item-product1.jpg');
}

.one-item__info {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.one-item__price_block {
    display: flex;
    gap: 29px;
    color: #998E78;
    font-size: 40px;
    line-height: 1.1em;
    letter-spacing: 0.8px;
}

.one-item__price {
    font-size: 40px;
}

.one-item__price_recut {
    font-size: 30px;
    text-decoration: line-through;
}

.one-item__choose-a-size-wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: start;
}

.one-item__choose-a-size {
    font-size: 20px;
    letter-spacing: 0.4px;
}

.one-item__sizes {
    display: flex;
    gap: 14px;
    justify-content: start;
}

.one-item__size {
    display: inline-block;
    padding: 8.5px 13px;
    border: 1px solid #000;
}

.one-item__size.active {
    background: #000;
    color: #fff;
}

.one-item__choose-a-color-wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.one-item__choose-a-color {
    font-size: 20px;
    letter-spacing: 0.4px;
}

.one-item__colors {
    display: flex;
    gap: 14px;
}

.one-item__color {
    width: 41px;
    height: 41px;
    border-radius: 100px;
    cursor: pointer;
}

.one-item__color.active {
    border: 1px solid black;
}

.one-item__color_v1 {
    background-color: #927876;
}

.one-item__color_v2 {
    background-color: #D4D4D4;
}

.one-item__color_v3 {
    background-color: #FD9696;
}

.one-item__color_v4 {
    background-color: #FDC796;
}

.one-item__cart-control {
    display: flex;
    gap: 11px;
}

.one-item__cart-control-quantity-display {
    width: 68px;
    padding: 20px 0px;
    border: 1px solid #AFAFAF;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.4px;
}

.add-to-cart-button {
    display: inline-block;
    padding: 22px 50px;
    background-color: #6E9C9F;
    color: #fff;
}

.add-to-cart-button:hover {
    background-color: #509498;
}

.one-item__related-products {
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.one-item__related-products-title {
    font-size: 40px;
    line-height: 1.1em;
    letter-spacing: 0.8px;
}

.one-item__related-products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}