.shop-hat {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.shop-hat__title {
    color: #000;
    font-size: 55px;
    line-height: 1.1em;
    letter-spacing: 1.1px;
}

.shop-hat__investment-wrapper {
    font-size: 17px;
    line-height: 1.4em;
    letter-spacing: 0.34px;
    display: flex;
    gap: 13px;
    margin-top: 26px;
}

.shop-hat__investment_act {
    color: #909090;
}

.shop__content {
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
}

.shop__product-categories {
    display: flex;
    gap: 10px;
    align-items: start;
}

.container_content {
    display: flex;
    flex-direction: column;
    gap: 92px;
}

.shop__product-category-button {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
    /* button */
    display: inline-block;
    padding: 19px 65px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    cursor: pointer;
}

.shop__product-category-button.active {
    background: #000;
    color: #fff;
}

.shop__product-feed {
    gap: 65px;
    display: flex;
    flex-direction: column;
}

.shop__product-counter {
    color: #808080;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.34px;
}

.shop__product-feed-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 65px;
}

.shop__pages {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.shop__page {
    display: block;
    width: 41px;
    padding: 8.5px 0;
    text-align: center;
    border: 1px solid #000;
}

.shop__page.active {
    background: #000;
    color: #FFFFFF;
}

.shop__next-page {
    width: 20px;
    height: 40px;
}


/* 1199-992px */

@media screen and (max-width: 1199px) {
    .shop__product-category-button {
        padding: 19px 54px;
    }
}

/* 991-768px */

@media screen and (max-width: 991px) {
    .shop__product-categories {
        flex-wrap: wrap;
    }

    .shop__product-category-button {
        box-sizing: border-box;
        font-size: 15px;
        padding: 19px 50px;
        width: 185px;
        text-align: center;
    }

    .shop-hat {
        margin-top: 95px;
    }

}