.offer {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    margin-top: 186px;

}

.offer__title {
    width: 585px;
    color: #000;
    font-size: 55px;
    line-height: 1.1em;
    letter-spacing: 1.1px;
}

.offer__text {
    width: 385px;
    margin-top: 45px;
    margin-bottom: 52px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.offer__buttons {
    margin-left: 90px;
    margin-bottom: 14px;
    display: flex;
    margin: auto 0;
}

.arrow-down-button-icon {
    width: 67px;
    height: 67px;
}

.button-open-shop {
    display: block;
    height: 68px;
    padding: 22px 50px;
    align-items: center;
    background-color: #6E9C9F;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.34px;
    line-height: 1.39em;
}

.button-open-shop:hover {
    background-color: #509498;
}